/*My Custom CSS*/

body{
    background-color:#87CEEB;
    padding-top:10px;
    
}
body div class="jumbotron text-left"{
    background-color: #FF577F;
}


h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 88px;
    color:#8B008B;
    background-color: #FF577F;
}

nav {
    font-family: 'Shrikhand', cursive;
    font-size: 44px;
}
button{
    color: aquamarine;
}
.row{
    padding: 0px;
    height: 888px;
    width: 100%;
}

.p-2{
    width: 600px;
    
}

